<nav class="navbar navbar-expand-lg nav-deco">

  <a class="navbar-brand mr-5" href="/home"><img width="100" class="resize-nav-logo-font-img" src="/images/light-logo-lyr.png" alt="AdoptMe logo"></a>

  <ul class="navbar-nav mr-auto first-links">

    <li class="nav-item active">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/posts">Adopt</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/shelters/list">Shelters</a>
    </li>

  </ul>

  {{#if currentUser.shelter}}
      <ul class="navbar-nav mr-auto">
        <div class="shelter-dog">
          <li class="nav-item active">🐶</li>
        </div>
      </ul>
    {{else}}

    <ul class="navbar-nav mr-auto">
      <div class="shelter-no-dog">
        <li class="nav-item active">
          <a class="nav-link" href="/shelter/create">Become a shelter</a>
        </li>
      </div>
    </ul>

  {{/if}}


  {{#if currentUser.shelter}}
    <div class="d-flex align-items-center">
      <a class="btn new-post-btn mr-3" href="/posts/new">
        <i class="fas fa-paw"></i>
        New post
      </a>
    </div>
  {{/if}}
    
    <form class="form-inline my-lg-0 mr-2 search" action="/posts">
      <input value="{{search}}" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="btn-group">

      <button type="button" class="btn user-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <img src="{{currentUser.avatar}}" width="20" class="mr-2 rounded-circle"/>
        {{currentUser.name}}
      </button>

      <div class="dropdown-menu dropdown-menu-right user-dropdown">

        <a class="dropdown-item user-dropd-item" href="/users/{{currentUser._id}}">Profile</a>
        <div class="dropdown-divider"></div>

        <form action="/logout" method="POST">
          <button type="submit" class="dropdown-item" href="#">
            <i class="fa fa-power-off mr-1"></i>
            Logout
          </button>
        </form>

      </div>

    </div>

  </div>

</nav>
