
<section id="user-profile">
  <article class="container">

    <div class="row user-profile-card">

      <div class="col-2">
        <img class="w-100 rounded-circle" src="{{user.avatar}}" />
      </div>

      <div class="col-10">

        <h1>{{user.name}}</h1>
        <p>{{user.bio}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>

        {{#if user.shelter}}

          <p><strong><i class="fa fa-star mr-1"></i>SHELTER</strong></p>
          <p>City: {{user.city}}</p>
          <Address>{{user.address}}</Address>
          <p>Contact: {{user.phone}}</p>
          
        {{/if}}

        {{#ifEquals currentUser.email user.email}}

          <div id="profile-edit-delete">
            <div class="profile-edit-btn">
              <a class="" href="/users/{{currentUser._id}}/edit">
                <i class="fa fa-edit mr-2"></i>
                Edit
              </a>
            </div>

            <div class="profile-delete-btn">
              <form action="/users/{{currentUser._id}}/delete" method="POST" class="mt-2">
                <button type="submit" class="btn btn-danger">
                  <i class="fa fa-trash mr-2"></i>
                  Remove account
                </button>
              </form>
            </div>

          </div>

        {{/ifEquals}}

      </div>

    </div>

      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCP9mRiFIygvhTnPa7LOMo2clF-k2jINJ8&q={{user.locationTest}}" class="map-frame map" allowfullscreen>
        {{!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCP9mRiFIygvhTnPa7LOMo2clF-k2jINJ8&q=ALBA+Protectora,Madrid+Spain" allowfullscreen> --}}
      </iframe>

    <div id="profile-posts">

      <h2 class="my-4">Shelter posts</h2>

      <div class="row">

        {{#each user.posts as |post|}}
          <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
            {{>posts/postcard post=post }}
          </div>
        {{/each}}

      </div>

    </div>

  </article>

{{!-- <script>
  var userN=decodeURIComponent("{{{user.locationMap}}}");
  console.log(userN)
  var newUSer =JSON.parse(userN);
  console.log(`Hola ${newUser}`)
  window.user = newUser;
</script> --}}
</section>