<article class="container">
  <div class="row">
    <div class="col-2">
      <img class="w-100 rounded-circle" src="{{user.avatar}}" />
    </div>

    <div class="col-10">
      <h1>{{user.name}}</h1>
      <p>{{user.bio}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>

      {{#if user.staff}}
        <p><strong><i class="fa fa-star mr-1"></i>STAFF</strong></p>
      {{/if}}

      {{#ifEquals currentUser.email user.email}}
        <div>
          <a class="btn btn-secondary" href="/users/{{currentUser._id}}/edit">
            <i class="fa fa-edit mr-2"></i>
            Edit
          </a>

          <form action="/users/{{currentUser._id}}/delete" method="POST" class="mt-2">
            <button type="submit" class="btn btn-danger">
              <i class="fa fa-trash mr-2"></i>
              Remove account
            </button>
          </form>
        </div>
      {{/ifEquals}}
    </div>
  </div>

  <div>
    {{#if user.staff}}
      <h2 class="my-4">Staff projects</h2>
      
      <div class="row">
        {{#each user.staffProjects as |project|}}
        <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
          {{>projects/projectcard project=project }}
        </div>
        {{/each}}
      </div>

      <hr/>
    {{/if}}
  </div>

  <div>
    <h2 class="my-4">Projects</h2>

    <div class="row">
      {{#each user.projects as |project|}}
        <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
          {{>projects/projectcard project=project }}
        </div>
      {{/each}}
    </div>
  </div>
</article>