{{#if post}}
  <form action="/posts/{{post.id}}/edit" method="POST" enctype="multipart/form-data">
{{else}}
  <form action="/posts" method="POST">
{{/if}}
  <div class="form-group">
    <label for="name">Name</label>
    <input value="{{post.name}}" name="name" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="name">

    {{#if error.name}}
      <div class="invalid-feedback">
        {{error.name.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea rows="5" type="text" class="form-control {{#if error.description }}is-invalid{{/if}}" name="description" id="description">{{post.description}}</textarea>

    {{#if error.description}}
      <div class="invalid-feedback">
        {{error.description.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="place">Location</label>
    <input value="{{post.place}}" name="place" type="text" class="form-control {{#if error.place }}is-invalid{{/if}}">

    {{#if error.place}}
      <div class="invalid-feedback">
        {{error.place.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="species">Species</label>
    <select class="form-control {{#if error.species }}is-invalid{{/if}}" name="species">
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Others">Others</option>
    </select>
    {{#if error.species}}
      <div class="invalid-feedback">
        {{error.species.message}}
      </div>
    {{/if}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

